<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototipotfg">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registro"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Perfil"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuJugar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Notas.AdivinarNota"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Intervalos.Crear.CrearIntervalo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Intervalos.Adivinar.AdivinarIntervalo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ImitarAudio.NivelesImitar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ritmos.Hallar.SeleccionNivelDibujarRitmo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ImitarAudio.ReproducirImitar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SeleccionModoAdivinar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ritmos.SeleccionModoRitmos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Intervalos.SeleccionarModoIntervalos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ritmos.Hallar.DibujarRitmo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ritmos.Crear.ImitarRitmo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ImitarAudio.SeleccionOctavasImitar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Intervalos.Adivinar.SeleccionNivelAdivinarIntervalo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.SeleccionarModoAcordes"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Intervalos.Crear.SeleccionNivelCrearIntervalo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Notas.SeleccionNivelAdivinarNota"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.Adivinar.SeleccionNivelAdivinarAcorde"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.Crear.SeleccionNivelCrearAcorde"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.Adivinar.AdivinarAcorde"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.Crear.CrearAcorde"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.TutorialAdivinarAcordes"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Estadisticas"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ritmos.Crear.ImitarRitmo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ritmos.Crear.SeleccionNivelImitarRitmo"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Intervalos.TutorialIntervalos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Notas.TutorialNotas"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.Adivinar.TutorialNivelAdivinarAcorde"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acordes.Crear.TutorialNivelCrearAcorde"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Tutoriales"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Teoria"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Mix.Ejercicios.AdivinarNotaMix" />
        <activity android:name=".Mix.Ejercicios.AdivinarAcordeMix" />
        <activity android:name=".Mix.Ejercicios.AdivinarIntervaloMix" />
        <activity android:name=".Mix.Ejercicios.CrearAcordeMix" />
        <activity android:name=".Mix.Ejercicios.CrearIntervaloMix" />
        <activity android:name=".Mix.Ejercicios.ImitarRitmoMix" />
        <activity android:name=".Mix.Ejercicios.DibujarRitmoMix" />
        <activity android:name=".Mix.ResultadoMix" />
        <activity android:name=".Mix.SeleccionNivelMix" />
    </application>

</manifest>